
<div id="viewport">
    
    <div id="sidebar">
      <header>
        <a href=>Promissorias</a>
      </header>
      <body>
        
      
        <ul>
           
          <i class="fa fa-barcode"></i> <a routerLink="/cadastro-cliente" routerLinkActive="true" class="h5 mt-4" href=>Cadastro Cliente</a>  <br>
                <a routerLink="/cadastro-contrato" routerLinkActive="true" class="h5" href=>Cadastro Contrato</a>  <br>
                <a routerLink="/cadastro-empresa" routerLinkActive="true" class="h5" href=>Cadastro Empresa</a>  <br>
                <a routerLink="/promissoria" routerLinkActive="true" class="h5" href=>Promissorias</a> <br>
               
           
        </ul>

      </body>
         

    </div>
  

    </div>
