
<div id="viewport">
    
    <div id="sidebar">
      <header>
        <a href=>Promissorias</a>
      </header>
    
        <ul>
           
                <a routerLink="/cadastro-cliente" routerLinkActive="true" class="h5 my-5" href="">Cadastro Cliente</a> <br> <br>
                <a routerLink="/cadastro-contrato" routerLinkActive="true" class="h5" href="">Cadastro Contrato</a> <br>  <br>
                <a routerLink="/cadastro-empresa" routerLinkActive="true" class="h5" href="">Cadastro Empresa</a> <br> <br>
                <a routerLink="/promissoria" routerLinkActive="true" class="h5" href="">Promissorias</a> <br> <br>
               
           
        </ul>
         

    </div>
  

    </div>
