<div class="row">
    <h3>Contrato</h3>
  </div>
  
  <form [formGroup] = "formulario"> 
      <div class="form-row">
        <div class="form-group col-md-5">
            <label for="exampleFormControlSelect1">Empresa</label>
            <select class="form-control" formControlName="empresa" >
              <option value="">selecione...</option>
              <option *ngFor="let empresa of listaEmpresa" value="{{empresa.id}}">{{empresa.nome}}</option>
              
            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="exampleFormControlSelect1">Cliente</label>
            <select class="form-control" formControlName="cliente" >
                <option value="">selecione...</option>
                <option *ngFor="let cliente of listaCliente" value="{{cliente.id}}">{{cliente.nome}}</option>
              
            </select>
        
        </div>
        <div class="form-group col-md-5">
            <label for="inputEmail4">Valor</label>
            <input formControlName="valor"  type="number" class="form-control" >
          </div>
          <div class="form-group col-md-5">
            <label for="inputPassword4">Parcelas</label>
            <input formControlName="parcelas" type="number" class="form-control" >
          </div>
          <div class="form-group col-md-5">
            <label for="inputPassword4">Descrição</label>
            <input formControlName="descricao" type="text" class="form-control" >
          </div>
    </div>
      <button (click)="OnSubmit()" type="button" class="btn btn-primary my-5">Cadastrar Contrato</button>
  </form>
  <div class="mt-5" class="row">
  
 
    <div class="col-11">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Empresa </th>
        <th scope="col">Cliente</th>
        <th scope="col">Valor do Contrato</th>
        <th scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody *ngFor="let contrato of contratolist">
      <tr>
        <td>{{contrato.empresa_id}}</td>
        <td> {{contrato.cliente_id}}</td>
        <td> {{contrato.valor_total}}</td>
        <td> {{contrato.descricao}}</td>

      </tr>
    </tbody>
   </table> 
    </div>
  </div>
