<div class="row">
  <h3>Cadastro Cliente</h3>
</div>
  <form [formGroup] = "formulario"> 
   <div class="containers">
    <div class="row">
      <div class="form-group col-md-5">
        <label for="inputEmail4">Nome da Cliente</label>
        <input formControlName="nome"  type="text" class="form-control" >
      </div>
      <div class="form-group col-md-5">
        <label for="inputPassword4">CPF</label>
        <input formControlName="cpf" type="text" maks="000.000.000-00" class="form-control" >
      </div>
      <div class="form-group col-md-5">
        <label for="inputEmail4">RG</label>
        <input formControlName="rg"  type="empresa" class="form-control" >
      </div>
      <div class="form-group col-md-5">
        <label for="inputPassword4">Telefone</label>
        <input formControlName="telefone" type="text" class="form-control" >
      </div>
      <div class="form-group col-md-5">
        <label for="inputEmail4">Endereço</label>
        <input formControlName="endereco_id"  type="text" class="form-control" >
      </div>
  
    </div>
  </div>
    <button (click)="OnSubmit()" type="button" class="btn btn-primary my-5">Cadastar Cliente</button>
</form>
<div class="mt-5" class="row">
  
 
  <div class="col-11">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
    </tr>
  </thead>
  <tbody *ngFor="let cliente of listclinte">
    <tr>
      <td>{{cliente.nome}}</td>
      <td> {{cliente.cpf}}</td>
    </tr>
  </tbody>
 </table> 
  </div>
</div>


