<div class="row">
    <h3>Emitir Nota</h3>
  </div>
  
  <form [formGroup] = "formulario"> 
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4">Valor do Contrato</label>
          <input formControlName="valor"  type="number" class="form-control">
        </div>
        <div class="form-group col-md-5">
          <label for="inputPassword4">Contrato</label>
          <select class="form-control" formControlName="contrato" >
            <option value="">selecione...</option>
            <option *ngFor="let contrato of listaContrato" value="{{contrato.id}}">{{contrato.descricao}}</option>
          
        </select>
        </div>
    </div>
    
      <button (click)="OnSubmit()" type="button" class="btn btn-primary my-5">Salvar</button>
  </form>
  <div class="mt-5" class="row">
  
 
    <div class="col-11">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Valor da Promissória </th>
        <th scope="col">Contrato</th>
      </tr>
    </thead>
    <tbody *ngFor="let promissoria of listapromissoria">
      <tr>
        <td>{{promissoria.valor}}</td>
        <td> {{promissoria.contrato_id}}</td>
      </tr>
    </tbody>
   </table> 
    </div>
  </div>
  